<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/stylesheets/about1.css">
  
</head>
<body>
  <div class="about-section" id="about">
    <div class="about-image">
      <img src="https://www.forbes.com/advisor/wp-content/uploads/2023/01/image-1-3.png" alt="About Us Image">
    </div>
    <div class="about-content">
      <h1>About Us</h1>
      <h5>Elevate Your Railway Journey</h5>

      <p class="text">

        Welcome to Shyama, your go-to destination for an enhanced railway travel experience. At Shyama, we're dedicated to making your journey by train more comfortable, enjoyable, and hassle-free.  <br> <br>
        
        Shyama is a pioneering lounge booking and food ordering platform designed exclusively for railway users. We understand that the Indian railway network is vast and diverse, serving millions of passengers daily. That's why we've created Shyama to cater to your unique travel needs.
        
        With Shyama, you can reserve lounge access at railway stations, offering a serene oasis amidst your travels. Unwind, recharge, and rejuvenate in our well-appointed lounges, complete with a range of amenities to enhance your travel experience. <br> <br>
        
        Hungry during your journey? We've got you covered. Our food ordering service lets you savor delicious meals on-the-go. Choose from a diverse menu of delectable dishes, and we'll ensure that your order is delivered to your train seat.
        
        Whether you're a frequent rail traveler or an occasional passenger, Shyama is here to make your journey seamless and enjoyable. We're committed to elevating your railway travel experience, one station at a time.
        <br><br>
        
        Experience the convenience, comfort, and taste that Shyama has to offer. Join us in redefining railway travel for a more enjoyable journey.
      </p>
      <div class="skills">
      
        <a href="/">Lounge Book</a>
        <a href="#services">Our services</a>
        <a href="#footer-container">Contact</a>
        <a href="#food-section">Food Order</a>
        
      </div>
    </div>
  </div>
</body>
</html>
