<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\stylesheets\nav.css">
    <link rel="stylesheet" href="\stylesheets\get-started.css">
    <link rel="shortcut icon" href="\images\logot.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <title>get-started-sign-in</title>
</head>
<body>
    <div class="main">
        
         <%- include ('footer/nav.ejs') -%>
        <div class="get-started">
               <h1>How do you want to use shyama?</h1>
               
               <p> No matter the occasion you can celebrate at our <span>place!</span> </p>
              <div class="get-startedchild">
                <div class="user-get-started  get-started-sign">
                    <h4> USER</h4>
                    <p>"Join our exclusive lounge booking community and gain access to a seamless booking experience. </p>
                       
                    <br>

                      <button >
                        <a href="/user_signin" id="get-btn">Login</a>
                      </button>
             </div>

             <div class="provider-get-started get-started-sign  "  >
                 <h4>PROVIDER</h4>
                 <p> As an administrator, you hold the keys to manage and oversee the lounge booking platform</p>
                     
                 <br>

                  <button>
                    <a href="/provider">Login</a>
                  </button>
                
             </div>
              </div>
        </div>
        <%- include ('footer/footer.ejs') -%>

        
        <script src="\javascripts\nav.js"></script>
    </div>
   
    
</body>
</html>