<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="\stylesheets\select-location.css">
</head>
<body>


  
  <div class='select'>
    <p class='input'>Bangalore</p>
    <input type='hidden' name='some_name_to_form' />
    <div class='hidden'>
      <p value='id_1' >Krishnarajapuram</p>
      <p value='id_2' >Bangalore East Railway Station</p>
      <p value='id_3' > banaswadi</p>
    </div>
  </div>
  





  <div class='select'>
    <p class='input'>Delhi</p>
    <input type='hidden' name='some_name_to_form' />
    <div class='hidden'>
      <p value='id_1' >New Delhi Railway Station</p>
      <p value='id_2' >Old Delhi Railway Station</p>
      <p value='id_3' >Hazrat Nizamuddin</p>
    </div>
  </div>
  <div class='select'>
    <p class='input'>Bhopal</p>
    <input type='hidden' name='some_name_to_form' />
    <div class='hidden'>
      <p value='id_1' >Rani Kamalapati</p>
      <p value='id_2' >Bhopal junction</p>
      <p value='id_3' >option 3</p>
    </div>
  </div>
  <div class='select'>
    <p class='input'>Indore</p>
    <input type='hidden' name='some_name_to_form' />
    <div class='hidden'>
      <p value='id_1' >Indore Jn Bg</p>
      <p value='id_2' >Lakshmibai</p>
      <p value='id_3' >Mhow</p>
    </div>
  </div>
  <div class='select'>
    <p class='input'>Gwalior</p>
    <input type='hidden' name='some_name_to_form' />
    <div class='hidden'>
      <p value='id_1' >Mohana</p>
      <p value='id_2' >Dabra</p>
      <p value='id_3' >Gwalior Jn</p>
    </div>
  </div>
  <div class='select'>
    <p class='input'>Pune</p>
    <input type='hidden' name='some_name_to_form' />
    <div class='hidden'>
      <p value='id_1' >Khadki</p>
      <p value='id_2' >Pune</p>
      <p value='id_3' >Hadapser</p>
    </div>
  </div>

  
</body>
</html>