<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/service.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <section id="services">
        <h1>Services</h1>
         <div class="cantainer">
           <div class="cart">
            <img src="/images/wifi_cart.avif" alt="">
            <h3>Free Wi-Fi for our coustomer</h3>
           </div>
           <div class="cart">
            <img src="/images/comfart_seat_cart.jpg" alt="">
            <h3>Comfortable seating with AC</h3>
           </div>
           <div class="cart">
            <img src="/images/food_cart.jpg" alt="">
            <h3>Food ordering and delivery</h3>
           </div>
           <div class="cart">
            <img src="/images/showers_cart.jpg" alt="">
            <h3>Restrooms and shower</h3>
           </div>
         </div>
         <!-- <a href="/shetbook"> <button>Read more</button></a> -->
    </section>
</body>
</html>