<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work with us</title>

    <link rel="stylesheet" href="/stylesheets/work_withus.css">
</head>
<body>
    <div id="page">
        <div class="top">
            <h1>Be Our Partner</h1>
        </div>
        <div class="bottom">
            <!-- <div class="left-box">  
                <img src="/images/LoungePartner.jpg" alt="">
            </div> -->
            <div class="right-box">
                <!-- <h5 style="margin-top: 3vh;">WE HAVE TWO OPPURTUNITIES</h5> -->
                <div class="provider">
                    <div class="lounge">
                        <h4>Lounge Partner</h4>
                        <p>Elevate your railway lounge with us. Join to enhance traveler experiences, expand your reach, and access exciting partnership opportunities. Contact us today for collaboration</p>
                        <ul>
                            <li>Global Reach: Access a worldwide audience of railway travelers.</li>
                            <li>Happy Customers: Satisfy travelers, foster loyalty, and drive repeat business.
                            </li>
                            <li>Service Excellence: Maintain quality standards while reaching more passengers.
                            </li>
                            <li>Innovative Collaboration: Partner with a dynamic, growth-focused travel platform.
                            </li>
                        </ul>
                        <button><a href="/loungeProviderLogin">Register Lounge</a></button>
                    </div>
                    <div class="shop">
                        <h4>Shop Partner</h4>
                        <p>Expand your railway shop with us. Partner to reach a wider audience, enhance traveler shopping experiences, and explore exciting partnership opportunities. Contact us today for collaboration.</p>
                        <ul>
                            <li>Customer Satisfaction: Meet traveler shopping needs and promote customer loyalty.
                            </li>
                            <li>Quality Service: Deliver excellence while tapping into a wider customer base.
                            </li>
                            <li>Feedback Utilization: Gather traveler input for continuous shop enhancement.
                            </li>
                            <li>Revenue Growth: Increase sales by partnering with our platform.
                            </li>
                        </ul>
                        <button><a href="/shopProviderLogin">Register Shop</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>