.header,
.sign_out {
    background-color: #fff;
}
@font-face {
    font-family: flaticon;
    src: url("../font/Gilroy-Medium.e7e7c091.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    font-family: flaticon;
}
.header .logo {
    height: 40px;
    width: 110px;
    mix-blend-mode: darken;
}
#menu-toggle,
.burgger {
    display: none;
}
.main-nav {
    list-style: none;
    display: flex;
    gap: 3.5vw;
}
.main-nav li a > i {
    font-size: 30px;
}
.main-nav li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.main-nav li a:hover {
    color: #9e0c04;
}
.btn {
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.burgg{
    display: none;
}
.sign_in {
    color: #000;
}
.sign_out {
    color: red;
}
#contect:hover {
    background-color: #000;
    color: #fff;
}
@media screen and (max-width: 1030px) {
    /* .burgger, */
    /* .main-nav li,
    .sign_out_res {
        display: none;
    } */

    .main-nav{
        display: none;
    }
    #menu-toggle,
    .burgger {
        top: 20%;
        position: absolute;
    }

    /* #menu-toggle,
    .burgger,
    .header .logo {
        position: absolute;
    } */
    .burgger {
        padding: 20px 30px;
        justify-content: space-around;
        flex-direction: column;
        gap: 5px;
        right: 10%;
        z-index: 999;
        width: 40vw;
        background-color: #0fd2b1;
    }
    .burgger li a {
        text-decoration: none;
        color: #000;
        font-size: 20px;
    }
    /* .burgg {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(0%, -50%);
        display: inline;
        border: none;
        color: #d2390f;
    } */
    
    #menu-toggle {
        display: initial;
        right: 5%;
        font-size: 20px;
        z-index: 9999;
    }
    /* .header {
        height: 10vh;
    } */
    /* .header .logo {
        display: flex;
        top: 2%;
        left: 3%;
    } */
}




/* minify css */
/* de-minify */