
#services{
  /* height: 100vh; */
  background-color: rgb(241, 246, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 50px 40px;

}
#services>h1{
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: black;
  background-color: #5c575705;
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
#services>h1:hover{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.74);
}
.cantainer {
  /* border: 2px solid black; */
  display: flex;
  gap: 4vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Initially set to wrap on all screens */
  /* padding: 3vh 1vw; */
}

.cantainer .cart {
  width: 20vw;
  height: 40vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* border: 1px solid black; */
}

.cart img {
  width: 100%;
  height: 70%;
  background-size: cover;
}

.cart h3 {
  margin-top: 4vh;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(15, 14, 14);
  /* font-weight: 200; */
}



@media (max-width: 768px) {
  .cantainer {
    flex-wrap: nowrap; /* Change flex-wrap to nowrap to stack items vertically */
    flex-direction: column;
  }
  .cantainer .cart {
    width: 100%; /* Make cart elements take the full width of the container */
    height: auto; /* Allow height to adjust based on content */
  }
}
