body{
  margin: 0;
  padding: 0;
}
.myAccount{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-box{
  width: 80%;
}
.upper-box{
  padding: 20px;
  width: 100%;
  /* height: 30vh; */
  background-color: rgb(131, 189, 194);
}
.lower-box{
  margin-top: 3vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 70vh; */
  /* background-color: lightgreen; */
}
.imgbox{
  width: 160px;
  height: 16  0px;
  border: 1px solid black;
  border-radius: 50%;
}
.imgbox>img{
  width: 100%;
  height: 100%;
}
.left-box{
  padding: 1vh 2vw;
  width: 35%;
  /* height: 100%; */
  /* background-color: rgb(0, 187, 255); */
  box-shadow: 0 0 5px 2px #e6e2e2;
}
.right-box{
  padding: 1vh 2vw;
  width: 60%;
  /* height: 100%; */
  /* background-color: rgb(213, 186, 186); */
  box-shadow: 0 0 5px 2px #dedada;
  display: flex;
}
.left-box>h1{
  text-align: center;
  margin-bottom: 4vh;
}
.details-seats{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.details-foods{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 4vh;
}

a{
  text-decoration: none;
}
a>span{
  margin-left: 10px;
  padding: 5px 5px;
  color: #13b783;
  box-shadow: 0 0 5px 2px #dedada;
  background-size: cover;

}
span>img{
  /* width: 3vw; */
  height: 2vw;
  background-size: cover;
}
.contact-info{
  padding: 2vh 2vw;
  box-shadow: 0 0 5px 2px #dedada;
}
.contact-info>p{
  margin-top: 3vh;
}


.booked_seats{
  width: 90%;
  box-shadow: 0 0 5px 2px #dedada;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
  padding: 10px;
  h3{
    color: green;
  }
  i{
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
  }
}
.booked_seat_img{
  width: 15%;
  height: 90%;
  img{
    width: 100%;
    height: 100%;
  }
}

.cancel_seat{
  background-color: red;
}