<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="\stylesheets\nav.css">

</head>
<body>
      <header class="header">
        <a href="/">
          <img src="/images/shyama.-removebg-preview.png" alt="image" class="logo">
      </a>
        <!-- <nav class="navbar"> -->
          <ul class="main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#footer-container" >Contact</a></li>
          </ul>

          <ul class="burgger">
            <li><a href="/">Home</a></li>
            <li><a href="#footer-container" >Contact</a></li>
          </ul>
          <i id="menu-toggle" class="ri-menu-fold-line"></i>

      </header>
    <script src="\javascripts\nav.js"></script>
</body>
</html>